extends ../../../../templates/navbar.pug

block content
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/sidebar.css")
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/cities/manila.css")

    script(src="/assets/font-awesome-4.7.0/css/script.js")
    body
        .banner
            img(src='/images/uploaded_images/pasay.png', position="center")
        .card.bannertxt
            p Pasay City is one of the cities in Metro Manila, the National Capital Region of the Philippines. It is bordered to the north by the City of Manila, Makati to the northeast, Taguigto the east, and Parañaque to the south. Due to its location just south of the City of Manila, Pasay quickly became an urban town during the American colonial period. It was also known as Travel City and City of Angel of the Philippines. 
            p 21st of June 1947 when it was incorporated as city of Metropolitan Manila. Pasay City has lot to offer in terms of services and intertainment, packed with many activities to try and places where you can get cozy and relax. Mall hoping and watching the standing high buildings in a skyscraper's view.
        .feed
            each place in places
                figure.snip1253
                    .image
                        img(src='/images/city_images/'+ place.strFirstPic, alt='sample52')
                    figcaption
                        h3 #{place.strPlaceName}
                        p
                            | #{place.strTeaser}
                            i.ion-eye
                                p
                                    form(method="POST"  action="/home/-/place")
                                        .control
                                            input(type='text', value= place.intPlaceID name="placeid" hidden)
                                            input.form-control.button.btn-primary.see(type="submit" value="See More")

        .fixed-button
            a.btn.btn-info(href='', aria-hidden='true') ITour:Pasay
        .container_login
        // Modal
        #search.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h2.modal-title Search Place: Pasay
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        #div(style="border-radius:5px;")
                            input#searchBox.search_box.form-control.control-primary(type='text' style="height:30px;" placeholder="type any keyword")
                            #table-wrapper(style="position:relative;")
                                #table-scroll(style="height:400px;overflow:auto;")
                                    table(style="font-size:15px; width:200px;")
                                        tr
                                        td
                                            table#dataTable.table
                                                tr
                                                    th.qwe Name of the Place
                                                    th.qwe Location
                                                    th

                                                each place in places   
                                                    tr
                                                        td.ty #{place.strPlaceName}
                                                        td.ty #{place.strLoc}
                                                        td.ty
                                                            form(method="POST"  action="/home/-/place")
                                                                .control
                                                                    input(type='text', value= place.intPlaceID name="placeid" hidden)
                                                                    input.form-control.button.btn-inverse(type="submit" value="See More")