extends ../../../templates/temp.pug

block content
            script(src='/assets/css/info/admin.js')
            form(method="POST" action="/admin" enctype='multipart/form-data')
                .edit-info#edit
                    .card
                        .row
                            .col-lg-12
                                .general-info
                                        .row
                                            .col-lg-6
                                                table.table
                                                    tbody
                                                        tr                                                          
                                                            td
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-mail
                                                                    .input.select.is-danger
                                                                        select(name="city")
                                                                            option(value='') -- Choose City --
                                                                            option(value='Manila') Manila
                                                                            option(value='Quezon City') Quezon City
                                                                            option(value='Pasig') Pasig
                                                                            option(value='Marikina') Marikina
                                                                            option(value='San Juan') San Juan
                                                                            option(value='Mandaluyong') Mandaluyong
                                                                            option(value='Valenzuela') Valenzuela
                                                                            option(value='Navotas') Navotas
                                                                            option(value='Malabon') Malabon
                                                                            option(value='Taguig') Taguig
                                                                            option(value='Pateros') Pateros
                                                                            option(value='Pasay') Pasay
                                                                            option(value='Para単aque') Para単aque
                                                                            option(value='Muntinlupa') Muntinlupa
                                                                            option(value='Makati') Makati
                                                                            option(value='Las Pi単as') Las Pi単as
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-edit
                                                                    input.form-control#new(type='text', placeholder='Place Name' name="placename" required)
                                                        tr  
                                                            td
                                                                h5 History  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-paper
                                                                    textarea#exampleTextarea.form-control(rows='18' placeholder='History' name="history")
                                                    // end of table col-lg-6
                                            .col-lg-6
                                                table.table
                                                    tbody
                                                        tr  
                                                            br
                                                            br
                                                            td
                                                                h5 Short Background  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-paper
                                                                    textarea#exampleTextarea.form-control(rows='15' placeholder='Short Backgorund' name="brief" required)
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-map-pins
                                                                    input.form-control#new(type='text', placeholder='Location' name="loc" required)                                                
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-social-google-map
                                                                    textarea#exampleTextarea.form-control(rows='2' placeholder='Googgle Map Link' name="link" required)
                    .card
                        .row
                            .col-lg-12
                                .general-info
                                        .row
                                            .col-lg-6
                                                table.table
                                                    tbody
                                                        tr
                                                            td
                                                                h5 Pictures
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-picture
                                                                    img#uploadPreview(style='width: 100px; height: 100px;' )
                                                                    input.form-control.file-input(id="uploadImage" type='file', name='pic1', accept='image/*' required, onchange="PreviewImage();")  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-picture
                                                                    img#uploadPreview2(style='width: 100px; height: 100px;'  )
                                                                    input.form-control.file-input(id="uploadImage2" type='file', name='pic2', accept='image/*' required, onchange="PreviewImage2();" )  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-picture
                                                                    img#uploadPreview3(style='width: 100px; height: 100px;'  )
                                                                    input.form-control.file-input(id="uploadImage3" type='file', name='pic3', accept='image/*' required, onchange="PreviewImage3();" )  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-picture
                                                                    img#uploadPreview4(style='width: 100px; height: 100px;'  )
                                                                    input.form-control.file-input(id="uploadImage4" type='file', name='pic4', accept='image/*' onchange="PreviewImage4();")  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-picture
                                                                    img#uploadPreview5(style='width: 100px; height: 100px;'  )
                                                                    input.form-control.file-input(id="uploadImage5" type='file', name='pic5', accept='image/*' onchange="PreviewImage5();")
                                            .col-lg-6
                                                table.table
                                                    tbody
                                                        tr  
                                                            td
                                                                h5 Description  
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-paper
                                                                    textarea#exampleTextarea.form-control(rows='15' placeholder='Description' name="info" required)
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-clock-time
                                                                    textarea#exampleTextarea.form-control(rows='5' placeholder='Admission Time' name="hours")
                    .card
                        .row
                            .col-lg-12
                                .general-info
                                        .row
                                            .col-lg-11
                                                table.table
                                                    tbody
                                                        tr
                                                            td
                                                                h5 Activities
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-emo-laughing
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Activity' name="act1")
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-cur-peso
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Fee' name="fee1")
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-emo-laughing
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Activity' name="act2")
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-cur-peso
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Fee' name="fee2")
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-emo-laughing
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Activity' name="act3")
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-cur-peso
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Fee' name="fee3")
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-emo-laughing
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Activity' name="act4")
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-cur-peso
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Fee' name="fee4")
                                                                .input-group
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-emo-laughing
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Activity' name="act5")
                                                                    span.input-group-addon
                                                                        i.icofont.icofont-cur-peso
                                                                    textarea#exampleTextarea.form-control(rows='1' placeholder='Fee' name="fee5")
                                .div#buttons(style="float:right; margin: 0 10px 20px 0;")
                                  tr
                                    input.btn.btn-success.waves-effect.waves-light.m-r-20(type="submit" value="Save" )
                                    input.btn.btn-info.waves-effect(type="reset" value='Clear Fields') 