extends ../../../../templates/navbar.pug

block content
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/sidebar.css")
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/cities/manila.css")

    script(src="/assets/font-awesome-4.7.0/css/script.js")
    body
        .banner
            img(src='/images/uploaded_images/sanjuan.png', position="center")
        .card.bannertxt
            p San Juan City is a highly urbanized city in thePhilippines located in the center of Metropolitan Manila. It is historically known as the site of the first battle of the Katipunan, the organization which led the 1896 Philippine Revolution against the Spanish Empire. It is a part of Metro Manila, the National Capital Region of the Philippines. According to the 2015 census, it has a population of 122,180.
            p San Juan City is known as the "Heart of Metro Manila", though it was relatively small city, the city radiates a significant history. The place of Pinaglabanan serve as a witness to the San Juan's colorful history, pinaglabanan literally means battleground where the natives fight against cruel colonials. Aside from this, San Juan still have many stories untold waiting to be unveiled.
        .feed
            each place in places
                figure.snip1253
                    .image
                        img(src='/images/city_images/'+ place.strFirstPic, alt='sample52')
                    figcaption
                        h3 #{place.strPlaceName}
                        p
                            | #{place.strTeaser}
                            i.ion-eye
                                p
                                    form(method="POST"  action="/home/-/place")
                                        .control
                                            input(type='text', value= place.intPlaceID name="placeid" hidden)
                                            input.form-control.button.btn-primary.see(type="submit" value="See More")

        .fixed-button
            a.btn.btn-info(href='', aria-hidden='true') ITour:San Juan
        .container_login
        // Modal
        #search.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h2.modal-title Search Place: San Juan
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        #div(style="border-radius:5px;")
                            input#searchBox.search_box.form-control.control-primary(type='text' style="height:30px;" placeholder="type any keyword")
                            #table-wrapper(style="position:relative;")
                                #table-scroll(style="height:400px;overflow:auto;")
                                    table(style="font-size:15px; width:200px;")
                                        tr
                                        td
                                            table#dataTable.table
                                                tr
                                                    th.qwe Name of the Place
                                                    th.qwe Location
                                                    th

                                                each place in places   
                                                    tr
                                                        td.ty #{place.strPlaceName}
                                                        td.ty #{place.strLoc}
                                                        td.ty
                                                            form(method="POST"  action="/home/-/place")
                                                                .control
                                                                    input(type='text', value= place.intPlaceID name="placeid" hidden)
                                                                    input.form-control.button.btn-inverse(type="submit" value="See More")