extends ../../../../templates/navbar.pug

block content
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/posts.css")
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/sidebar.css")
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/cities/manila.css")


    script(src="/assets/font-awesome-4.7.0/css/script.js")
    body
        .banner
            img(src='/images/uploaded_images/laspinas.png', position="center")
        .card.bannertxt
            p Las Piñas is a city in the National Capital Region of the Philippines. The city was originally established as a fishing port and later through the use of salt evaporation ponds, it became a major sea salt producing municipality. The city has since grown into a major suburb of Metro Manila. The city is also a great tourist attraction.
            p The city has many nicknames such as Home of the Bamboo Organ, City Of Love and Progress, Salt Center of Metro Manila, and the Lantern Capital of the Metro Manila. It only proves that the city is one of the most improved and progressive cities in the region. Las Piñas is a beautiful city with a variety of tourist attractions, from modern and fun activities to historic and cultural hubs. So, if you’re looking for a place to visit for a family vacation, personal getaway or even a team building holiday.
        .feed
            each place in places
                figure.snip1253
                    .image
                        img(src='/images/city_images/'+ place.strFirstPic, alt='sample52')
                    figcaption
                        h3 #{place.strPlaceName}
                        p
                            | #{place.strTeaser}
                            i.ion-eye
                                p
                                    form(method="POST"  action="/home/-/place")
                                        .control
                                            input(type='text', value= place.intPlaceID name="placeid" hidden)
                                            input.form-control.button.btn-primary.see(type="submit" value="See More")

        .fixed-button
            a.btn.btn-info(href='', aria-hidden='true') ITour:Las Piñas
        .container_login
        // Modal
        #search.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h2.modal-title Search Place: Las Piñas
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        #div(style="border-radius:5px;")
                            input#searchBox.search_box.form-control.control-primary(type='text' style="height:30px;" placeholder="type any keyword")
                            #table-wrapper(style="position:relative;")
                                #table-scroll(style="height:400px;overflow:auto;")
                                    table(style="font-size:15px; width:200px;")
                                        tr
                                        td
                                            table#dataTable.table
                                                tr
                                                    th.qwe Name of the Place
                                                    th.qwe Location
                                                    th

                                                each place in places   
                                                    tr
                                                        td.ty #{place.strPlaceName}
                                                        td.ty #{place.strLoc}
                                                        td.ty
                                                            form(method="POST"  action="/home/-/place")
                                                                .control
                                                                    input(type='text', value= place.intPlaceID name="placeid" hidden)
                                                                    input.form-control.button.btn-inverse(type="submit" value="See More")
    //search table
    script(type='text/javascript').
      new TableSearch('searchBox', 'dataTable', { noResultsText: 'Nothing found! Try again' }).init();  