body{
    background-color: #E9EBEE;
    font-family: Trebuchet MS;
    text-transform: uppercase;
}


.banner img{
    width: 100%;
    margin-left: -10px , -10px , 0 , 0;
}
#image{
    width: 400px;
    height: 200px;
}