.main_wrapper{
    width: 80%;
    margin: auto;
}
body{
    font-family: Trebuchet MS;
}
hr{
    background-color: blue;
    size: 100;
}
.img1{
    height: 200px;
    width: 50%;
}
.gen{
    background-color: #295680;
    padding:5px;
}
.text{
    color: white;
    font-size: 20px;
}
.qw, li {
    margin-left: 20px;
}
.laman {
    background-color: white;
}
body {
	background: url(/assets/css/main/images/bg.jpg) repeat left bottom;
	font-family: Trebuchet MS;
	margin: 0;
}