html
    head
        link(rel='icon', type='image/png', href='/assets/images/upload_images/logo.ico')
        title ITour:Metro Manila

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        //- link(rel="stylesheet" href="/assets/bootstrap-4.0.0/assets/css/docs.min.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
        //- link(rel="stylesheet" href="/assets/MDBFree/css/mdb.min.css")
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css")
        //- link(rel="stylesheet" href="semantic/dist/semantic.min.css")
        //- script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
        //- script(src='semantic/dist/semantic.min.js')
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/masterpug_bg.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/sidebar.css")

    body  
        nav.navbar
                div.navbar-start(style='margin-left:20px;')
                    div.navbar-item.has-dropdown.is-hoverable
                        a.navbar-item(href="/admin") Home
                    div.navbar-item.has-dropdown.is-hoverable
                        a.navbar-item(href="/admin/places") Places
                    div.navbar-item.has-dropdown.is-hoverable
                        a.navbar-item(href="/admin/addplace") Add Place
                div.navbar-end
                    div.navbar-item.has-dropdown.is-hoverable
                        a.navbar-item(href="/login")
                            |&nbsp Log-out
        section
            block content

script(src='/assets/css/info/marikina/tablesearch.js')
script(type='text/javascript', src='/assets1/plugins/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/assets1/plugins/jquery-ui/jquery-ui.min.js')
script(type='text/javascript', src='/assets1/plugins/tether/dist/js/tether.min.js')
script(type='text/javascript', src='/assets1/plugins/bootstrap/dist/js/bootstrap.min.js')
// jquery slimscroll js
script(type='text/javascript', src='/assets1/plugins/jquery-slimscroll/jquery.slimscroll.js')
// modernizr js
script(type='text/javascript', src='/assets1/plugins/modernizr/modernizr.js')
script(type='text/javascript', src='/assets1/plugins/modernizr/feature-detects/css-scrollbars.js')
// Morris Chart js
script(src='/assets1/plugins/raphael/raphael.min.js')
script(src='/assets1/plugins/morris.js/morris.js')
// echart js
script(src='/assets1/pages/chart/echarts/js/echarts-all.js', type='text/javascript')
// Morris Chart Custom js
script(type='text/javascript', src='/assets1/pages/dashboard/project-dashboard.js')
// Custom js
script(type='text/javascript', src='/assets1/js/script.js')
script(src='/assets1/js/pcoded.min.js')
script(src='/assets1/js/demo-12.js')
script(src='/assets1/js/jquery.mCustomScrollbar.concat.min.js')
//- Tourst_spot.pug
// light-box js
script(type='text/javascript', src='/assets1/plugins/ekko-lightbox/dist/ekko-lightbox.js')
script(type='text/javascript', src='/assets1/plugins/lightbox2/dist/js/lightbox.js')
// Custom js
script(type='text/javascript', src='/assets1/js/script.js')
script(src='/assets1/js/pcoded.min.js')
script(src='/assets1/js/demo-12.js')
script(src='/assets1/js/jquery.mCustomScrollbar.concat.min.js')
script(src='/assets1/js/jquery.mousewheel.min.js')
//- Search
//search table
script(type='text/javascript').
    new TableSearch('searchBox', 'dataTable', { noResultsText: 'Nothing found! Try again' }).init(); 
//Profile
script(type='text/javascript', src='assets/js/script.js')
script(src='assets/pages/user-profile.js')
script(src='assets/js/pcoded.min.js')
script(src='assets/js/demo-12.js')
script(src='assets/js/jquery.mCustomScrollbar.concat.min.js')
script(src='assets/js/jquery.mousewheel.min.js')