html
    head
        link(rel='icon', type='image/png', href='/assets/images/upload_images/logo.ico')
        title ITour:Metro Manila
        // HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
            script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        // Meta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Codedthemes')
        meta(name='keywords', content='flat ui, admin flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app')
        meta(name='author', content='Codedthemes')
        // Favicon icon
        link(rel='icon', href='assets/images/favicon.ico', type='image/x-icon')
        // Google font
        link(href='https://fonts.googleapis.com/css?family=Mada:300,400,600,700,800', rel='stylesheet')
        // Required Fremwork
        link(rel='stylesheet', type='text/css', href='/assets1/plugins/bootstrap/dist/css/bootstrap.min.css')
        // themify-icons line icon
        link(rel='stylesheet', type='text/css', href='/assets1/icon/themify-icons/themify-icons.css')
        // ico font
        link(rel='stylesheet', type='text/css', href='/assets1/icon/icofont/css/icofont.css')
        // flag icon framework css
        link(rel='stylesheet', type='text/css', href='/assets1/pages/flag-icon/flag-icon.min.css')
        // Menu-Search css
        link(rel='stylesheet', type='text/css', href='/assets1/pages/menu-search/css/component.css')
        // Style.css
        link(rel='stylesheet', type='text/css', href='/assets1/css/style.css')
        // color css
        link(rel='stylesheet', type='text/css', href='/assets1/css/linearicons.css')
        link(rel='stylesheet', type='text/css', href='/assets1/css/simple-line-icons.css')
        link(rel='stylesheet', type='text/css', href='/assets1/css/jquery.mCustomScrollbar.css')
        link(rel='stylesheet', type='text/css', href='/assets/custom/sidebutton.css')
        // Pre-loader start
        .theme-loader
            .ball-scale
                div
        // Pre-loader end
        #pcoded.pcoded
            .pcoded-overlay-box
            .pcoded-container.navbar-wrapper
                nav.navbar.header-navbar.pcoded-header
                    .navbar-wrapper
                        .navbar-logo(navbar-theme='theme4')
                            a#mobile-collapse.mobile-menu(href='#!')
                                i.ti-menu
                            a(href='#!')
                                h3 ITour
                            a.mobile-options
                                i.ti-more
                        .navbar-container.container-fluid
                            div
                                ul.nav-left
                                    li
                                        .sidebar_toggle
                                            a(href='javascript:void(0)')
                                                i.ti-menu
                                    li
                                        a.main-search.morphsearch-search(href='#')
                                            // themify icon
                                            i.ti-search
                                    li
                                        a(href='#!', onclick='javascript:toggleFullScreen()')
                                            i.ti-fullscreen
                                ul.nav-right
                                    li.user-profile.header-notification
                                        a(href='#!')
                                            img(src='assets/images/user.png', alt='User-Profile-Image')
                                            span J.P Fernandez
                                            i.ti-angle-down
                                        ul.show-notification.profile-notification
                                            li
                                                a(href='/profile')
                                                    i.ti-user
                                                    |  Profile
                                            li
                                                a(href='/login')
                                                    i.ti-layout-sidebar-left
                                                    |  Logout
                .pcoded-main-container
                    .pcoded-wrapper
                        nav.pcoded-navbar
                            .sidebar_toggle
                                a(href='#')
                                    i.icon-close.icons
                            .pcoded-inner-navbar.main-menu
                                ul.pcoded-item.pcoded-left-item
                                    li.pcoded-item.dash
                                        a(href="/home")
                                            span.pcoded-micon
                                                i.icofont.icofont-chart-histogram
                                            span.pcoded-mtext Home
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/manila')
                                            span.pcoded-micon
                                                i.icofont.icofont-deal
                                            span.pcoded-mtext Manila
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/quezon_city')
                                            span.pcoded-micon
                                                i.icofont.icofont-pie-chart
                                            span.pcoded-mtext Quezon City
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/pasig')
                                            span.pcoded-micon
                                                i.icofont.icofont-wrench
                                            span.pcoded-mtext Pasig
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/marikina')
                                            span.pcoded-micon
                                                i.icofont.icofont-files
                                            span.pcoded-mtext Marikina
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/sanjuan')
                                            span.pcoded-micon
                                                i.icofont.icofont-deal
                                            span.pcoded-mtext San Juan
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/mandaluyong')
                                            span.pcoded-micon
                                                i.icofont.icofont-pie-chart
                                            span.pcoded-mtext Mandaluyong
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/valenzuela')
                                            span.pcoded-micon
                                                i.icofont.icofont-wrench
                                            span.pcoded-mtext Valenzuela
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/navotas')
                                            span.pcoded-micon
                                                i.icofont.icofont-files
                                            span.pcoded-mtext Navotas
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/malabon')
                                            span.pcoded-micon
                                                i.icofont.icofont-deal
                                            span.pcoded-mtext Malabon
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/taguig')
                                            span.pcoded-micon
                                                i.icofont.icofont-pie-chart
                                            span.pcoded-mtext Taguig
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/pateros')
                                            span.pcoded-micon
                                                i.icofont.icofont-wrench
                                            span.pcoded-mtext Pateros
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/pasay')
                                            span.pcoded-micon
                                                i.icofont.icofont-files
                                            span.pcoded-mtext Pasay
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/paranaque')
                                            span.pcoded-micon
                                                i.icofont.icofont-deal
                                            span.pcoded-mtext Parañaque
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/muntinlupa')
                                            span.pcoded-micon
                                                i.icofont.icofont-pie-chart
                                            span.pcoded-mtext Muntinlupa
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/makati')
                                            span.pcoded-micon
                                                i.icofont.icofont-wrench
                                            span.pcoded-mtext Makati
                                            span.pcoded-mcaret
                                ul.pcoded-item.pcoded-left-item
                                    li
                                        a(href='/home/laspinas')
                                            span.pcoded-micon
                                                i.icofont.icofont-files
                                            span.pcoded-mtext Las Piñas
                                            span.pcoded-mcaret
                    .pcoded-content
                        .pcoded-inner-content
                            block content
            .fixed-button
                a.btn.btn-primary(href='', aria-hidden='true') Back To Top










script(type='text/javascript', src='/assets1/plugins/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/assets1/plugins/jquery-ui/jquery-ui.min.js')
script(type='text/javascript', src='/assets1/plugins/tether/dist/js/tether.min.js')
script(type='text/javascript', src='/assets1/plugins/bootstrap/dist/js/bootstrap.min.js')
// jquery slimscroll js
script(type='text/javascript', src='/assets1/plugins/jquery-slimscroll/jquery.slimscroll.js')
// modernizr js
script(type='text/javascript', src='/assets1/plugins/modernizr/modernizr.js')
script(type='text/javascript', src='/assets1/plugins/modernizr/feature-detects/css-scrollbars.js')
// Morris Chart js
script(src='/assets1/plugins/raphael/raphael.min.js')
script(src='/assets1/plugins/morris.js/morris.js')
// echart js
script(src='/assets1/pages/chart/echarts/js/echarts-all.js', type='text/javascript')
// Morris Chart Custom js
script(type='text/javascript', src='/assets1/pages/dashboard/project-dashboard.js')
// Custom js
script(type='text/javascript', src='/assets1/js/script.js')
script(src='/assets1/js/pcoded.min.js')
script(src='/assets1/js/demo-12.js')
script(src='/assets1/js/jquery.mCustomScrollbar.concat.min.js')
// Custom js
script(type='text/javascript', src='/assets1/js/script.js')
script(src='/assets1/js/pcoded.min.js')
script(src='/assets1/js/demo-12.js')
script(src='/assets1/js/jquery.mCustomScrollbar.concat.min.js')
script(type='text/javascript', src='/assets1/pages/icon-modal.js')
script(type='text/javascript', src='/assets1/js/script.js')
script(src='/assets1/js/pcoded.min.js')
script(src='/assets1/js/demo-12.js')
script(src='/assets1/js/jquery.mCustomScrollbar.concat.min.js')
script(src='/assets1/js/jquery.mousewheel.min.js')